@import "tailwindcss";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@theme inline {
  --breakpoint-mobile: 28.125rem;
  --breakpoint-tablet: 93.75rem;
  --breakpoint-desktop: 93.75rem;
  --breakpoint-laptop: 67.5rem;

  --color-primary: rgb(var(--colors-primary));
  --color-primary-DEFAULT: rgb(var(--colors-primary));
  --color-primary-custom: "#006DF9";

  --color-secondary: rgb(var(--colors-secondary));
  --color-secondary-DEFAULT: rgb(var(--colors-secondary));
  --color-secondary-hover: rgb(var(--btn-secondary-hover-background-color));

  --color-background: rgb(var(--colors-background));
  --color-background-DEFAULT: rgb(var(--colors-background));

  --color-typography: rgb(var(--base-text-color));
  --color-typography-DEFAULT: rgb(var(--base-text-color));
  --color-typography-link: rgb(var(--base-link-color));
  --color-typography-link-hover: rgb(var(--base-link-hover-color));

  --color-button-primary-bg: rgb(var(--btn-primary-background-color));
  --color-button-primary-text: rgb(var(--btn-primary-text-color));
  --color-button-primary-hoverbg: rgb(
    var(--btn-primary-hover-background-color)
  );

  --color-button-secondary-bg: rgb(var(--btn-secondary-background-color));
  --color-button-secondary-text: rgb(var(--btn-secondary-text-color));
  --color-button-secondary-hoverbg: rgb(
    var(--btn-secondary-hover-background-color)
  );

  --color-outline: rgb(var(--borders-border-color));

  --color-blue-100: #f1f2f4;
  --color-blue-150: #e6f7ff;
  --color-blue-200: #daecff;
  --color-blue-300: #bed4f0;
  --color-blue-400: #006df9cc;
  --color-blue-500: #006df9;
  --color-blue-600: #005ed6;
  --color-blue-700: #66a9ff;
  --color-blue-800: #f5f9ff;
  --color-blue-810: #b9d3f8;
  --color-blue-811: #0069fd;
  --color-blue-812: #1b85ff;
  --color-blue-820: #37476c;
  --color-blue-830: #465b8b;
  --color-blue-840: #303e5f;
  --color-blue-background_blue: #eaeef9;
  --color-blue-info_blue_background: #f6f8fa;

  --color-grey-0: #fefefe;
  --color-grey-100: #666666;
  --color-grey-200: #b9babc;
  --color-grey-300: #cccccc;
  --color-grey-400: #d1d5db;
  --color-grey-700: #151a1f;
  --color-grey-800: #383838;
  --color-grey-900: #333333;
  --color-grey-dark: #1e1e1e;
  --color-grey-light: #f6f6f6;
  --color-grey-medium: #a0a0a0;
  --color-grey-outline: #e5e5e5;
  --color-grey-text: #474d59;

  --color-green-50: #eff4ef;
  --color-green-100: #f6ffed;
  --color-green-600: #b8d1b4;
  --color-green-700: #6cb851;
  --color-green-950: #79a779;
  --color-green-960: #3a833a;
  --color-green-success_page_bg: #e8fdf2;
  --color-green-accepted_green_800: #39934f;
  --color-green-dark: #12b76a;
  --color-green-light: #0e92551a;

  --color-orange-100: #fffbe6;
  --color-orange-500: #e07e41;
  --color-orange-600: #fdd4b6;
  --color-orange-950: #d88b54;
  --color-orange-960: #e89519;
  --color-orange-border_orange: #eea23640;
  --color-orange-warning_background_orange: #eea2361a;
  --color-orange-warning_text_orange: #eea236;

  --color-red: #ff0000;
  --color-red-DEFAULT: #ff0000;
  --color-red-100: #fff1f0;
  --color-red-800: #c04141;
  --color-red-900: #da0e0f;
  --color-red-950: #f04849;
  --color-red-960: #ef6969;
  --color-red-980: #fc5454;
  --color-red-failed_page_bg: #fdede8;
  --color-red-dark: #f04e42;
  --color-red-light: #feedec;

  --color-yellow-bg: #f7d59b4d;
  --color-profile-sidebar-blue: #16488f;
  --color-status-green: #36af47;
  --color-popover-background: #334264;
  --color-popover-background-hover: #2e3b58;
  --color-status-text-orange: #e9aa0a;
  --color-status-blue: #0585dd;
  --color-border-light-grey: #e6e6e6;
  --color-light-blue-bg: #f8faff;
  --color-light-grey: #dfdfdf;
  --color-extra-light-grey: #f0f2f4;
  --color-jp-gray-50: #fafbfd;
  --color-jp-gray-100: #f7f8fa;
  --color-jp-gray-200: #f1f5fa;
  --color-jp-gray-250: #fdfeff;
  --color-jp-gray-300: #e7eaf1;
  --color-jp-gray-400: #d1d4d8;
  --color-jp-gray-500: #d8dde9;
  --color-jp-gray-600: #cccfd4;
  --color-jp-gray-700: #666666;
  --color-jp-gray-800: #67707d;
  --color-jp-gray-850: #31333a;
  --color-jp-gray-900: #333333;
  --color-jp-gray-950: #202124;
  --color-jp-gray-960: #2c2d2f;
  --color-jp-gray-970: #1b1b1d;
  --color-jp-gray-930: #989aa5;
  --color-jp-gray-940: #ccd2e2;
  --color-jp-gray-980: #acadb8;
  --color-jp-gray-dark_table_border_color: #2e2f39;
  --color-jp-gray-tabset_gray: #f6f8f9;
  --color-jp-gray-disabled_border: #262626;
  --color-jp-gray-table_hover: #f9fbff;
  --color-jp-gray-darkgray_background: #151a1f;
  --color-jp-gray-lightgray_background: #151a1f;
  --color-jp-gray-text_darktheme: #f6f8f9;
  --color-jp-gray-lightmode_steelgray: #ccd2e2;
  --color-jp-gray-tooltip_bg_dark: #f7f7fa;
  --color-jp-gray-tooltip_bg_light: #23211d;
  --color-jp-gray-dark_disable_border_color: #8d8f9a;
  --color-jp-gray-light_table_border_color: #cdd4eb;
  --color-jp-gray-no_data_border: #6e727a;
  --color-jp-gray-border_gray: #354052;
  --color-jp-gray-sankey_labels: #7e828f;
  --color-jp-gray-dark_black: #0e0e0e;
  --color-jp-gray-banner_black: #333333;
  --color-jp-gray-light_gray_bg: #fafafa;
  --color-jp-gray-button_gray: #f7f7f7;
  --color-jp-gray-border_gray: #e8e8e8;
  --color-jp-gray-secondary_hover: #eeeeee;
  --color-jp-gray-test_credentials_bg: #d9d9d959;

  --color-hyperswitch_dark_bg: #212e46;
  --color-light-blue: #006df966;
  --color-light_grey: #454545;
  --color-hyperswitch_green: #71b44b;
  --color-light_green: #32aa52;
  --color-hyperswitch_green_trans: #71b44b20;
  --color-hyperswitch_red: #d7625b;
  --color-hyperswitch_background: #ffffff;
  --color-pdf_background: #f5f5f5;
  --color-offset_white: #fefefe;
  --color-light_white: #ffffff0d;
  --color-unselected_white: #9197a3;

  --color-nd_gray-25: #fcfcfd;
  --color-nd_gray-50: #f5f7fa;
  --color-nd_gray-100: #fbfbfb;
  --color-nd_gray-150: #eceff3;
  --color-nd_gray-200: #e1e4ea;
  --color-nd_gray-300: #cacfd8;
  --color-nd_gray-500: #606b85;
  --color-nd_gray-400: #99a0ae;
  --color-nd_gray-600: #525866;
  --color-nd_gray-700: #2b303b;

  --color-nd-br-gray-150: #eceff3;
  --color-nd-br-gray-200: #e1e4ea;
  --color-nd-br-gray-400: #e1e1e1;
  --color-nd-br-gray-500: #e1e3ea;

  --color-nd_green-200: #52b87a;

  --color-sidebar: rgb(var(--sidebar-primary));
  --color-sidebar-DEFAULT: rgb(var(--sidebar-primary));
  --color-sidebar-primary: rgb(var(--sidebar-primary));
  --color-sidebar-secondary: rgb(var(--sidebar-secondary));
  --color-sidebar-hoverColor: rgb(var(--sidebar-hover-color));
  --color-sidebar-primaryTextColor: rgb(var(--sidebar-primary-text-color));
  --color-sidebar-secondaryTextColor: rgb(var(--sidebar-secondary-text-color));
  --color-sidebar-borderColor: rgb(var(--sidebar-border-color));

  --spacing-90-px: 90px;
  --spacing-100: 25rem;
  --spacing-133: 35rem;
  --spacing-200: 58rem;
  --spacing-150: 9.375rem;
  --spacing-18-rem: 18rem;
  --spacing-22-rem: 22rem;
  --spacing-77-rem: 77rem;
  --spacing-30-rem: 30rem;
  --spacing-137-px: 137px;
  --spacing-145-px: 145px;
  --spacing-147-px: 147px;
  --spacing-334-px: 334px;
  --spacing-499-px: 499px;
  --spacing-1034-px: 1034px;
  --spacing-pageWidth11: 75rem;
  --spacing-standardPageWidth: 67.5rem;
  --spacing-1-rem: 1rem;
  --spacing-5-rem: 5rem;
  --spacing-6-rem: 6rem;
  --spacing-7-rem: 7rem;
  --spacing-8-rem: 8rem;
  --spacing-12-rem: 12rem;
  --spacing-25-rem: 25rem;
  --spacing-30-rem: 30rem;
  --spacing-35-rem: 35rem;
  --spacing-40-rem: 40rem;
  --spacing-45-rem: 45rem;
  --spacing-48-rem: 48rem;
  --spacing-50-rem: 50rem;
  --spacing-93-per: 93%;
  --spacing-80-vh: 80vh;
  --spacing-85-vh: 85vh;
  --spacing-30-vh: 30vh;
  --spacing-40-vh: 40vh;
  --spacing-75-vh: 75vh;
  --spacing-10-px: 10px;
  --spacing-18: 18px;
  --spacing-21: 21px;
  --spacing-24: 24px;
  --spacing-38: 38px;
  --spacing-32-px: 32px;
  --spacing-36-px: 36px;
  --spacing-40-px: 40px;
  --spacing-68-px: 68px;
  --spacing-195-px: 195px;
  --spacing-774-px: 774px;
  --spacing-923-px: 923px;
  --spacing-onBordingSupplier: calc(100vh - 300px);
  --spacing-fixedPageWidth: 85.5rem;
  --spacing-860: 860px;
  --spacing-600: 600px;
  --spacing-700: 700px;
  --spacing-800: 800px;

  --radius-DEFAULT: var(--borders-default-radius);
  --radius-10-px: 10px;

  --shadow-generic_shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  --shadow-generic_shadow_dark: 0px 2px 5px 0 rgba(0, 0, 0, 0.78);
  --shadow-side_shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-hyperswitch_box_shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.08);
  --shadow-checklistShadow: -2px -4px 12px 0px rgba(0, 0, 0, 0.11);
  --shadow-sidebarShadow: 0 -2px 12px 0 rgba(0, 0, 0, 0.06);
  --shadow-connectorTagShadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.06);
  --shadow-boxShadowMultiple: 2px -2px 24px 0px rgba(0, 0, 0, 0.04),
    -2px 2px 24px 0px rgba(0, 0, 0, 0.02);
  --shadow-homePageBoxShadow: 0px 2px 16px 2px rgba(51, 51, 51, 0.16);
  --shadow-focusBoxShadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05),
    0px 0px 0px 4px rgba(232, 243, 255, 1);
  --shadow-cardShadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.04);

  --text-base: var(--base-font-size);
  --text-heading: var(--base-heading-font-size);
  --text-fs-10: 10px;
  --text-fs-11: 11px;
  --text-fs-13: 13px;
  --text-fs-14: 14px;
  --text-fs-15: 15px;
  --text-fs-16: 16px;
  --text-fs-18: 18px;
  --text-fs-20: 20px;
  --text-fs-24: 24px;
  --text-fs-28: 28px;
  --text-fs-32: 32px;
  --text-fs-48: 48px;
}

@layer utilities {
  *::-webkit-scrollbar {
    display: none;
  }

  * {
    scrollbar-width: none;
  }

  .show-scrollbar::-webkit-scrollbar {
    display: block;
    overflow: scroll;
    height: 4px;
    width: 8px;
  }

  .show-scrollbar::-webkit-scrollbar-thumb {
    display: block;
    border-radius: 20rem;
    background-color: #8a8c8f;
  }

  .show-scrollbar::-webkit-scrollbar-track {
    background-color: #ffffff;
  }

  .red .red\:bg-red {
    background-color: rgb(255 0 0 / var(--tw-bg-opacity));
  }

  .primary-gradient-button {
    box-shadow: 0px 0px 0px 1px rgb(var(--btn-primary-background-color));
    background-image: linear-gradient(
        180deg,
        rgb(var(--btn-primary-background-color)) -5%,
        rgb(var(--colors-primary)) 107.5%
      ),
      linear-gradient(
        180deg,
        rgba(var(--colors-primary), 0.7) -6.25%,
        rgb(var(--btn-primary-background-color)) 100%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .primary-gradient-button:hover {
    box-shadow: 0px 0px 0px 1px rgb(var(--btn-primary-hover-background-color));
    background-image: linear-gradient(
        180deg,
        rgb(var(--btn-primary-hover-background-color)) -6.25%,
        rgb(var(--btn-primary-hover-background-color)) 100%
      ),
      linear-gradient(
        180deg,
        rgba(var(--colors-primary), 0.7) -6.25%,
        rgb(var(--btn-primary-hover-background-color)) 100%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .primary-gradient-button:active {
    box-shadow: 0px 3px 4px 0px rgb(var(--btn-primary-hover-background-color))
      inset;
    background-image: linear-gradient(
        180deg,
        rgba(var(--btn-primary-background-color), 0.5) -5%,
        rgb(var(--btn-primary-hover-background-color)) 107.5%
      ),
      linear-gradient(
        180deg,
        rgb(var(--btn-primary-background-color)) -6.25%,
        rgb(var(--btn-primary-background-color)) 100%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .primary-gradient-button:focus {
    box-shadow: 0px 0px 0px 3px
      rgba(var(--btn-primary-hover-background-color), 0.25);
    background-image: linear-gradient(
        180deg,
        rgba(var(--btn-primary-background-color), 0.9) -5%,
        rgb(var(--btn-primary-hover-background-color)) 107.5%
      ),
      linear-gradient(
        180deg,
        rgba(var(--btn-primary-background-color), 0.75) -6.25%,
        rgb(var(--btn-primary-background-color)) 100%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .primary-gradient-button:disabled {
    box-shadow: 0px 0px 0px 1px rgb(var(--btn-primary-hover-background-color));
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .secondary-gradient-border {
    box-shadow: 0px 0px 0px 1px rgba(var(--btn-secondary-text-color), 0.25);
    background-image: linear-gradient(
        180deg,
        rgb(var(--btn-secondary-background-color)) 0%,
        rgb(var(--btn-secondary-hover-background-color)) 100%
      ),
      linear-gradient(
        180deg,
        rgb(var(--btn-secondary-hover-background-color)) 0%,
        rgb(var(--btn-secondary-background-color)) 97.5%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .secondary-gradient-border:hover {
    box-shadow: 0px 0px 0px 1px rgba(var(--btn-secondary-text-color), 0.25);
    background-image: linear-gradient(
        180deg,
        rgb(var(--btn-secondary-hover-background-color)) 0%,
        rgb(var(--btn-secondary-background-color)) 100%
      ),
      linear-gradient(
        180deg,
        rgb(var(--btn-secondary-background-color)) 0%,
        rgb(var(--btn-secondary-hover-background-color)) 97.5%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .secondary-gradient-border:active {
    box-shadow: 0px 3px 4px 0px rgba(var(--btn-secondary-background-color), 0.9)
      inset;
    background-image: linear-gradient(
        180deg,
        rgba(var(--btn-secondary-background-color), 0.5) 0%,
        rgb(var(--btn-secondary-hover-background-color)) 100%
      ),
      linear-gradient(
        180deg,
        rgb(var(--btn-secondary-background-color)) 0%,
        rgba(var(--btn-secondary-hover-background-color), 0.1) 97.5%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .secondary-gradient-border:focus {
    box-shadow: 0px 0px 0px 3px rgba(var(--btn-secondary-text-color), 0.1);
    background-image: linear-gradient(
        180deg,
        rgba(var(--btn-secondary-background-color), 0.9) 0%,
        rgb(var(--btn-secondary-hover-background-color)) 100%
      ),
      linear-gradient(
        180deg,
        rgb(var(--btn-secondary-background-color)) 0%,
        rgba(var(--btn-secondary-background-color), 0.7) 97.5%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
}
