name: CI

on:
  pull_request:

jobs:
  build:
    name: Build Check
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4

      - name: "Setup node"
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: "Install dependencies"
        run: npm i

      - name: "Build"
        run: npm run re:build