name: Cypress Tests

on:
  merge_group:
  pull_request:

jobs:
  cypress-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: ${{ secrets.AUTO_RELEASE_PAT }}

      - name: Clear Docker cache
        run: |
          docker builder prune -af

      - name: Execute Shell Script
        run: |
          chmod +x cypress/start_hyperswitch.sh
          sh cypress/start_hyperswitch.sh

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install --force

      - name: Make Curl Request
        run: |
          # Replace the URL with your actual endpoint
          response=$(curl --location --request GET 'http://localhost:8080/health')

          echo "Response:"
          echo "$response"

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          install: false
          build: npm run build:test
          start: npm run test:start
