name: ESLint

on:
  merge_group:
  pull_request:

jobs:
  eslint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install --force

      - name: Build Rescript
        run: npm run re:build

      - name: Run ESLint
        run: npm run lint:hooks
        env:
          CI: true
