name: Spell Check

on:
  push:
    branches:
      - main
  merge_group:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

jobs:
  typos:
    name: Spell check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - name: Spell check
        uses: crate-ci/typos@master
